.chat{
   
    height: 100%;
    width: 1068px;
  
    display: flex;
    flex-direction: column;
  
    border-left: #bbbdff 1px solid;
    background-color: #FDFDFF;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;


}