:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: rgba(255, 255, 255, 0.87);
  background-color: #f9f9f9;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}


@media (prefers-color-scheme: dark) {
  :root {
    --bg: var(--bg--dark);
    --txt: var(--txt--dark);
    --accent: var(--accent--dark);
    --accent1: var(--accent1--dark);
    --muted: var(--muted--dark);
    color-scheme: dark;
  }
}

@media (prefers-color-scheme: light) {
  :root {
    --bg: var(--bg--light);
    --txt: var(--txt--light);
    --accent: var(--accent--light);
    --accent1: var(--accent1--light);
    --muted: var(--muted--light);
    color-scheme: light;
  }
}




*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


/*Login*/



/*Messages*/

.messages {
  /* border: 2px solid blue; */
  display: flex;
  flex-direction: column;
  gap: 10px;
  overflow-y: auto;
  padding-right: 20px;
  padding-left: 20px;
}

.messages::-webkit-scrollbar {display: none;}

.message_right{
  flex: 1;
  display: flex;
  flex-direction: row-reverse;
}

.message_left{
  flex: 1;
  display: flex;
  flex-direction: row;
}

.message__spacer {
  flex: 1;
}

.message__bubble {
  max-width: calc(100% - 67px);
  overflow-wrap: break-word;

  padding: 10px 30px;
  border-radius: 20px;
}

.message_right .message__bubble{
  border-top-right-radius: 0px;
  background-color: rgb(65, 107, 232);
  color: #f9f9f9;
}

.message_left .message__bubble{
  border-top-left-radius: 0px;
  background-color: #9a9a9a58;
  color: black;
}


/*Send Section*/

.sendSection{
  margin-top: auto;
  display: flex;
  padding: 14px;
  gap: 10px;
}

.inputMessage{
  flex: 1;
  padding: 14px;
  border-radius: 20px;
  outline: 0;
  background-color: rgb(199, 199, 199);
  border: 0;
  color: black;

}

.btnSend{
  flex: 0.2;
  border-radius: 200px;
  font-size: 20px;
  border: 0;
  background-color: royalblue;
  outline: none;
  padding-top: 6px;
  cursor: pointer;
}


.switchMode{
  position: absolute;
  top: 20px;
  left: 20px;
}