:root {
  line-height: 1.5;
  font-weight: 400;

  color: rgba(255, 255, 255, 0.87);
  background-color: #f9f9f9;

  -webkit-text-size-adjust: 100%;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif; */
  font-family: Inter var, ui-sans-serif, system-ui, -apple-system,
    BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans,
    sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol,
    Noto Color Emoji;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.switchMode {
  position: absolute;
  top: 20px;
  left: 20px;
}

[data-theme='light'] {
  --background: 240 30% 94%;
  --text-primary: rgb(27, 27, 27);
  --text-secondary: royalblue;
  --text-terciary: black;

  --chat-bubble-left-background:#9a9a9a58;

  --accent: royalblue;
}


[data-theme='dark'] {
  --background: #282834;
  --background2: rgb(92, 92, 92);
  --chat-bubble-left-background: #dacaf6;
 
  --text-primary: #ffffff;
  --text-secondary: grey;
  --text-terciary: black;

  --accent: #5164ed;
}
